/* Estilos para el contenedor principal del carrito */
.cart-container {
    margin: 200px auto;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 100px;
}

/* Estilos para el mensaje cuando no hay productos en el carrito */
.cart-message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    position: relative;
}

/* Estilos para la imagen del carrito */
.cart-image {
    max-width: 100px;
    margin-bottom: 10px;
}

/* Estilos para el nombre y precio del producto en el carrito */
.cart-product-info {
    margin-bottom: 10px;
}

/* Estilos para el precio del producto en el carrito */
.cart-product-price {
    font-weight: bold;
}

/* Estilos para el total del carrito */
.cart-total {
    margin-top: 20px;
    font-weight: bold;
}

.cart {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

/* Estilos para la esfera de conteo del carrito */
.cart-sphere {
    background-color: #ff6f61;
    border-radius: 50%;
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1px;
    right: -50px;
    font-size: 1.1rem;
    font-weight: bold;
}

.cart-count {
    margin: 0;
}